# Dependency directories
node_modules/

# Environment Variables & Secrets
.env
.env.local

# Logs
*.log

# App-specific Uploads
uploads/

# System / OS Metadata
.DS_Store
Thumbs.db

# IDEs, Editors and Workspaces
.vscode/
.idea/
